[submodule "external/pe-parse"]
	path = external/pe-parse
	url = https://github.com/trailofbits/pe-parse.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/libpcap"]
	path = external/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "external/cpp-subprocess"]
	path = external/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
